				{% assign person = include.person %}
				<div class="card bg-primary mb-4">
					<div class="card-body">
						<div class="row">
							{% if person.headshot %}
								<div class="col-md-3 mb-4">
									<img src="{{ person.headshot }}" class="img-fluid headshot shadow-sm w-100" alt="{{ person.name }} Headshot" />
								</div> 
							{% endif %}
							<div class="col order-2">
								<h2 class="header text-center text-md-left">{{ person.name }} <br class="d-lg-none">{% if person.role %}<small>{{ person.role }}</small>{% endif %}</h2>
								<p>{{ person.bio | markdownify }}</p>
							</div>
						</div>
					</div>
				</div>