					{% assign shows = include.shows | sort: show_date | reverse %}
					<h2 class="header">
						{% if include.header %}
							{{ include.header }}
						{% elsif include.type == 'future' %}
							Coming Soon
						{% elsif include.type == 'present' %}
							Showing Now
						{% elsif include.type == 'past' %}
							Previous Shows
						{% endif %}</h2>
					{% for show in shows %}
						<h3><strong>{{ show.title }}</strong> <small>by {{ show.playwright }}</small></h3>
						{% assign production = show.path | split: "/" %}
						{% assign site_productions = site.productions | map: "slug" %}
						{{ site.productions[all].slug }}
						{% if production.size == 3 %}
							{% if site_productions contains production[1] %}
								{% assign this_production = site.productions | where: "slug", production[1] %}
								{% assign this_production = this_production.first %}
								<h4><em>Part of <a href="{{ this_production.url }}">{{ this_production.title }}</a></em></h4>
							{% endif %}
						{% endif %}
						<p>{{ show.content | markdownify }}</p>
						<h5><strong>{{ show.date_string }}{{ show.show_date | date_to_long_string: "ordinal" }}</strong></h5>
						{% unless forloop.last %}<hr class="border-primary">{% endunless %}
					{% endfor %}