					{% assign shows = include.shows | sort: "show_date" %}
					<h2 class="header">
						{% if include.header and include.header != empty %}
							{{ include.header }}
						{% elsif include.type == 'future' %}
							Coming Soon
						{% elsif include.type == 'present' %}
							Now &amp; Next
						{% elsif include.type == 'past' %}
							Previous Shows
						{% endif %}</h2>
					{% for show in shows %}
						{% assign production = show.path | split: "/" %}
						{% assign site_productions = site.productions | map: "slug" %}
						{% if production.size == 3 %}
							{% if site_productions contains production[1] %}
								{% assign this_production = site.productions | where: "slug", production[1] %}
								{% assign this_production = this_production.first %}
								<h3><a href="{{ this_production.url }}/#{{ show.slug }}"><strong>{{ show.title }}</strong></a> <small> by {{ show.playwright }}</small></h3>
								{{ show.content | markdownify }}
								<h4><em>Part of <a href="{{ this_production.url }}">{{ this_production.title }}</a></em></h4>
								{{ this_production.excerpt | markdownify }}
							{% endif %}
						{% else %}
							<h3><strong>{{ show.title }}</strong> <small>by {{ show.playwright }}</small></h3>
							{{ show.content | markdownify }}
						{% endif %}
						<h5>
							{% include show_published.html show=show %}
							{% if show_published %}
								<strong>Available now {% if show.youtube %}<a href="{{ show.youtube }}">on YouTube</a>{% endif %}</strong>
							{% else %}
								{% assign show_time = show.show_date | date: "%r" %}
								<strong>{{ show.date_string | default: "Available from " }}{{ show.show_date | date_to_long_string: "ordinal" }}{% unless show_time == "12:00:00 AM" %} at {{ show.show_date | date: "%k:%M" }}{% endunless %}</strong>
							{% endif %}
						</h5>
						{% unless forloop.last %}<hr class="border-primary">{% endunless %}
					{% endfor %}
