
// Font
@import url("https://p.typekit.net/p.css?s=1&k=kse0mqx&ht=tk&f=18085&a=59254788&app=typekit&e=css");

@font-face {
font-family:"flood-std";
src:url("https://use.typekit.net/af/6da923/000000000000000000012fc3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/6da923/000000000000000000012fc3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/6da923/000000000000000000012fc3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
	font-family: "Metropolis";
	src: url("/static/fonts/Metropolis-Regular.otf");
	font-display: auto;
	font-style: normal; 
	font-weight: normal;
}
@font-face {
	font-family: "Metropolis";
	src: url("/static/fonts/Metropolis-SemiBold.otf");
	font-display: auto;
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "Metropolis";
	src: url("/static/fonts/Metropolis-RegularItalic.otf");
	font-display: auto;
	font-style: italic;
	font-weight: normal;
}

// Colour Palette
$anegada-pink: #ec219b;

.bg-primary .header {
	color: black;
}

.bg-primary a {
	color: black;
	&:hover {
		color: lightgrey;
	}
}

// Navigation
.brand-mobile {
  @extend .ml-2, .d-block, .d-lg-none, .navbar-brand;
}
.brand-large {
  @extend .d-none, .d-lg-block;
}
.navbar {
	flex: 1 0 auto;
	flex-grow: inherit;
}

// Layout
.card, .headshot, .btn-card, .banner-rounded, .rounded-max {
	border-radius: 1.5rem !important;
	&.border-primary {
		border-width: 10px;
	}
	img {
		box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
	}
}
.btn-card:hover img, .show-youtube:hover {
	opacity: 0.9;
	box-shadow: 0 1rem 3rem rgba(0,0,0,0.7);
}

.show-youtube-img {
	background-size: cover;
	background-position: center;
	@extend .my-auto;
	min-height: 10rem;
	line-height: 2;
	i {
		line-height: inherit;
	}
}

.show-content p {
	@extend .lead;
}

.blog-content {
	img {
		@extend .img-fluid, .w-75, .mb-2, .mx-auto, .d-block;
		text-align: center;
	}
}

.img-donate {
	max-width: 75% !important;
	width: auto;
}

.footer {
	@extend .text-dark;
	a {
		@extend .text-light;
	}
}