// Flood runs a bit smaller than Metropolis, so we want it to pop a bit more.
.header {
	font-family: 'flood-std', sans-serif;
	line-height: 0.7;
	margin-bottom: 1rem;
	small {
		font-family: $font-family-sans-serif;
		font-size: 1.5rem;
	}
}

h1.header {
	font-size: $h1-font-size * 1.4;
}
h2.header {
	font-size: $h2-font-size * 1.42;
}
h3.header {
	font-size: $h3-font-size * 1.4;
}
h4.header {
	font-size: $h4-font-size * 1.3;
}

@media only screen and (min-width: 768px) {
	h1.header {
		font-size: $h1-font-size * 1.8;
	}
	h2.header {
		font-size: $h2-font-size * 1.65;
	}
	h3.header {
		font-size: $h3-font-size * 1.6;
	}
	h4.header {
		font-size: $h4-font-size * 1.45;
		letter-spacing: 3px;
	}
}
