---
title: Productions
permalink: /productions/
layout: outer 
---

{% for production in site.productions %}
	<div class="container-fluid bg-primary py-3 mt-4">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="text-center header mb-0">{{ production.title }}{% if production.prod_date %}<br><small><strong>{{ production.prod_date }}</strong></small>{% endif %}</h1>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row mb-4">
			<div class="col-lg order-2 order-lg-1">
				<p>{{ production.excerpt | markdownify }}</p>
			</div>
			{% if production.banner %}
			<div class="col-lg-6 px-0 p-lg-2 text-center order-1 order-lg-2">
				<img src="{{ production.banner }}" alt="{{ production.title }} Banner" class="img-fluid rounded-max">
			</div>
			{% endif %}
			<div class="col-12 order-3">
				<a href="{{ production.url }}" class="mt-4 btn btn-lg btn-block w-75 btn-primary mx-auto rounded-max text-dark" role="button">See more</a>
			</div>
		</div>
	</div>
{% endfor %}