---
title: Productions
permalink: /productions/
layout: default 
---

<div class="container">
	<div class="row">
		<div class="col">
			<h1 class="text-center">Productions</h1>
		</div>
	</div>
	{% for production in site.productions %}
		<div class="row mt-4 ">
			<div class="col-lg-6 bg-primary text-dark pt-2">
				<h2 class="text-center header">{{ production.title }}{% if production.prod_date %}<br><small><strong>{{ production.prod_date }}</strong></small>{% endif %}</h2>
			</div>
		</div>
		<div class="row mb-4">
			<div class="col-lg-6 order-2 order-lg-1">
				<p>{{ production.content | markdownify }}</p>
				<a href="{{ production.url }}" class="btn btn-block w-75 btn-primary mx-auto rounded-0 text-dark" role="button">See more</a>
			</div>
			{% if production.banner %}
			<div class="col-lg-6 px-0 p-lg-2 text-center order-1 order-lg-2">
				<img src="{{ production.banner }}" alt="{{ production.title }} Banner" class="img-fluid">
			</div>
			{% endif %}
		</div>
	{% endfor %}
</div>