---
layout: default
---

<div class="container">
	<div class="row">
		<div class="col">
			<h1 class="header text-center">We're fundraising for</h1>

			<div class="text-center w-100 my-4">
				<img class="w-75" src="{{ page.charity_logo }}" alt="{{ page.charity }}">
			</div>

			<div class="text-center">{{ page.content | markdownify }}</div>

			<a href="https://paypal.me/anegadatheatre/" class="btn btn-primary btn-block btn-lg rounded-max my-4" role="button"><i class="fab fa-paypal"></i>&nbsp;Donate via PayPal</a>
		</div>
	</div>
</div>
