---
layout: default
--- 

<div class="container">
	<div class="row">
		<div class="col-lg-5">
			<div class="card bg-primary mb-4">
				<div class="card-body">
					<h1 class="header text-center py-3">Hello!</h1>
					<p>{{ content | markdownify }}</p>
				</div>
			</div>
		</div>

{% comment %}
		{% assign present_shows = site.shows | where: "period", "present" %}
		{% assign future_shows = present_shows | where_exp: "show", "show.show_date >= current_date" %}
		{% assign present_shows = present_shows | where_exp: "show", "show.show_date < site.date" %}
		{% assign past_shows = site.shows | where: "period", "past" %}
{% endcomment %}
		{% assign future_shows = site.shows | where: "period", "future" %}
		{% assign present_shows = site.shows | where: "period", "present" %}
		{% assign past_shows = site.shows | where: "period", "past" %}
		{% assign num_types = 0 %}
		{% if future_shows != empty %}{% assign num_types = num_types | plus:1 %}{% endif %}
		{% if present_shows != empty %}{% assign num_types = num_types | plus:1 %}{% endif %}
		{% if past_shows != empty %}{% assign num_types = num_types | plus:1 %}{% endif %}


		{% if future_shows != empty or present_shows != empty or past_shows != empty %}
			{% comment %} Do we have shows ? {% endcomment %}
			<div class="col-lg-7">
				<div class="card border-primary bg-dark mb-4">
					<div class="card-body">
						{% comment %} Work out what's going in the first box {% endcomment %}
						{% if present_shows != empty %}
							{% include shows.html shows=present_shows type='present' %}
						{% elsif future_shows != empty %}
							{% include shows.html shows=future_shows type='future' %}
							{% assign shown_future = true %}
						{% else %}
							{% include shows.html shows=past_shows type='past' %}
							{% assign shown_past = true %}
						{% endif %}
						{% assign num_types = num_types | minus: 1 %}
					</div>
				</div>
			</div>
			{% if num_types >= 1 %}
				{% comment %} If there is more than one type, let's add them in their own row {% endcomment %}
				<div class="col-lg-12">
					<div class="card border-primary bg-dark mb-4">
						<div class="card-body">
							{% comment %} We don't need to look for present shows as they will have been displayed already {% endcomment %}
							{% if future_shows != empty and shown_future != true %}
								{% include shows.html shows=future_shows type='future' %}
							{% elsif shown_past != true  %}
								{% include shows.html shows=past_shows type='past' %}
								{% assign shown_past = true %}
							{% endif %}
						</div>
					</div>
				</div>
				{% if shown_past != true %}
					<div class="col-lg-12">
						<div class="card border-primary bg-dark mb-4">
							<div class="card-body">
								{% include shows.html shows=past_shows type='past' %}
							</div>
						</div>
					</div>
				{% endif %}
			{% endif %}

		{% else %}
			<div class="col-lg-7">
				<div class="card border-primary bg-dark mb-4">
					<div class="card-body">
						<p class="text-center">There are no shows.</p>
					</div>
				</div>
			</div>
		{% endif %}
	</div>
</div>