---
layout: outer
---

<div class="container-fluid bg-primary py-3 mt-4">
	<div class="row">
		<div class="col">
			<h1 class="text-center header mb-0">{{ page.title }}{% if page.prod_date and page.prod_date != empty %}<br><small><strong>{{ page.prod_date }}</strong></small>{% endif %}</h1>
		</div>
	</div>
</div>
<div class="container">
	<div class="row mt-4">
		<div class="col text-center">
			{{ page.content | markdownify }}
		</div>
	</div>
	<div class="row">
		{% assign shows = site.shows | where_exp: "show", "show.path contains page.slug" | sort: "show_date" %}
		{% unless shows.size == 1 %}
			{% for show in shows %}
				<div class="col col-md-6">
					<a class="btn btn-primary btn-block btn-card mb-4 text-dark" role="button" href="#{{ show.slug }}">
						<h2 class="header pt-2">
							{{ show.title }}
							{% if show.show_date and show.show_date != empty%}<br><small>{{ show.show_date | date_to_long_string: "ordinal" }}</small>{% endif %}</h2>
						{% if show.banner and show.banner != empty %}
							<img src="{{ show.banner }}" class="img-fluid banner-rounded mb-2" alt="{{ show.title }} Banner">
						{% endif %}
					</a>
				</div>
			{% endfor %}
		{% endunless %}
	</div>
</div>
{% for show in shows %}
	{% include show_content.html show=show %}
{% endfor %}
